$accent : #1AB0B4;

@import "_elements.scss";
@import "_.headers";
@import "_.buttons";

div.wrapper {
    display    : flex;
    min-height : 100vh;

    .navigation {
        padding    : 20px;
        box-sizing : border-box;
        flex-basis : 320px;

        .nav {
            .nav-header {
                margin-top    : 20px;
                margin-bottom : 10px;
            }
            a, p {
                margin : 5px;
            }
            p {
                color     : #444;
                font-size : 0.9em;
            }

        }
    }
    .content {
        padding          : 20px;
        background-color : #FFFFFF;
        border-left      : 1px solid #d6d6d6;
        flex-grow        : 1;
        box-shadow       : #888888 5px 0 10px;
    }
}