@import "../../sass/variables";

.main-image{
    width:300px;
    height:200px;
    border:1px solid #eee;
    background-color: #ededed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    float:left;
    margin-right:20px;

    &.project-1{
        background-color: white;
    }
}


.info-pane{
    display:grid;
    grid-template-columns:auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size:0.9em;
    flex: 0 0 250px;
    margin-left:20px;
    height: 200px;

    label{
        color: $accent;
        font-weight: bold;
        text-align:right;

        flex-grow:0;
    }

    span, a{
        flex-grow:1;
    }

    .tag{
        border:1px solid $accent;
        color:$accent;
        border-radius: 3px;
        margin: 0px 4px 4px 4px;
        padding: 4px;
        white-space: nowrap;
        float: left;
        font-size: 0.8em;
    }
}
