<a class="button mdi mdi-chevron-double-left" routerLink="/">Back to Projects</a>

<div class="flex-grid">
    <div class="grow">
        <h1 class="">
            {{project.name}}
        </h1>
        <p>
            {{project.description}}
        </p>

        <div class="project-body" [innerHtml]="project.template">

        </div>
    </div>
    <div class="info-pane">
        <label class="mdi mdi-code-tags mdi-18px" title="Code"></label>
        <a href="{{project.code}}" *ngIf="project.code.indexOf('http') === 0; else codeExplanation">
            See the code
        </a>
        <ng-template #codeExplanation>
            <span>{{project.code}}</span>
        </ng-template>


        <label class="mdi mdi-link mdi-18px" title="Link"></label>
        <a href="{{project.link}}" *ngIf="project.link.indexOf('http') === 0; else linkExplanation">
            View Project
        </a>
        <ng-template #linkExplanation>
            <span>{{project.link}}</span>
        </ng-template>

        <label class="mdi mdi-check-circle mdi-18px" title="Status"></label>
        <span>{{project.status}}</span>


        <label class="mdi mdi-tag mdi-18px" title="Tags"></label>
        <div class="tags">
            <span class="tag" *ngFor="let tag of project.tags">{{tag}}</span>
        </div>
    </div>


</div>


