<h1>
    Projects
</h1>

<p>
    Check out some of my work below. Many projects are missing narratives right now, but I've usually tried to include
    at least a relevant link. Contact me any time at <a href="mailto:andy@groff.cc">andy@groff.cc</a> and I'll be glad
    provide additional information.
</p>

<div class="project-grid">
    <div *ngFor="let project of projects"
         [ngClass]="['project-preview', 'project-'+project.id]"
         [style.backgroundImage]="'url('+project.background+')'"
         routerLink="project/{{project.id}}">
        <h3>
            {{project.name}}
        </h3>
        <p *ngIf="project.description">
            {{project.description}}
        </p>
    </div>

</div>
